.env
vendor/
.DS_Store
project1/.DS_Store
project1/libs/.DS_Store
project1/libs/js/.DS_Store
project1/libs/countryBorders.geo copy.json
project2/index_old.html
project2/libs/css/style_old.css
project2/libs/js/script_old.js
project2/libs/php/oldFiles